@* @page
@model VngBlog.WebApp.Areas.Admin.Pages.Role.PermissionModel
@{
    ViewData["Title"] = "Permission";
}

<partial name="_StatusMessage" for="StatusMessage" />

<form method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Permission for role</h3>
        </div>
        <div class="panel-body">
            @for (var i = 0; i < Model.PermissionDto.RoleClaims.Count; i++)
            {
                <h4>@Model.PermissionDto.RoleClaims[i].DisplayName</h4>
                <div>
                    <input type="hidden" asp-for="PermissionDto.RoleClaims[i].DisplayName" />
                    <input type="hidden" asp-for="PermissionDto.RoleClaims[i].Type" />
                    <input type="hidden" asp-for="PermissionDto.RoleClaims[i].Value" />

                    <input type="checkbox" asp-for="PermissionDto.RoleClaims[i].Selected" /> @Model.PermissionDto.RoleClaims[i].Value
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a class="btn btn-primary" asp-page="./Index">Danh sách các role</a>
                </div>
            </div>
        </div>
    </div>
</form>

 *@